onlineService.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.hps.ma/PowerCARD/PaymentGateway/OnlineServices" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="OnlineServiceService" targetNamespace="http://www.hps.ma/PowerCARD/PaymentGateway/OnlineServices">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.hps.ma/PowerCARD/PaymentGateway/OnlineServices" elementFormDefault="qualified" targetNamespace="http://www.hps.ma/PowerCARD/PaymentGateway/OnlineServices" version="1.0">
<xs:element name="AccountInfo" type="tns:AccountInfo"/>
<xs:element name="AccountVerifyResponse">
<xs:complexType>
<xs:complexContent>
<xs:extension base="tns:webServiceBean">
<xs:sequence>
<xs:element minOccurs="0" name="ResponseCode" type="xs:string"/>
<xs:element minOccurs="0" name="ReasonCode" type="xs:string"/>
<xs:element minOccurs="0" name="ReasonCodeDesc" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="AdvancedAuthorizationInfo" type="tns:AdvancedAuthorizationInfo"/>
<xs:element name="AuthHeader" type="tns:AuthHeader"/>
<xs:element name="AuthorizationInfo" type="tns:AuthorizationInfo"/>
<xs:element name="AuthorizationInfoResponse">
<xs:complexType>
<xs:complexContent>
<xs:extension base="tns:webServiceBean">
<xs:sequence>
<xs:element minOccurs="0" name="ResponseCode" type="xs:string"/>
<xs:element minOccurs="0" name="ReasonCode" type="xs:string"/>
<xs:element minOccurs="0" name="ReasonCodeDesc" type="xs:string"/>
<xs:element minOccurs="0" name="MerID" type="xs:string"/>
<xs:element minOccurs="0" name="AcqID" type="xs:string"/>
<xs:element minOccurs="0" name="OrderID" type="xs:string"/>
<xs:element minOccurs="0" name="SignatureMethod" type="xs:string"/>
<xs:element minOccurs="0" name="Signature" type="xs:string"/>
<xs:element minOccurs="0" name="ReferenceNumber" type="xs:string"/>
<xs:element minOccurs="0" name="AuthorizationCode" type="xs:string"/>
<xs:element minOccurs="0" name="CardNumber" type="xs:string"/>
<xs:element minOccurs="0" name="TokenValue" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="TokenInfo">
<xs:complexType>
<xs:complexContent>
<xs:extension base="tns:webServiceBean">
<xs:sequence>
<xs:element name="PaymentType" type="tns:PaymentType"/>
<xs:element name="CardHolderInfo" type="tns:CardHolderInfo"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:element name="TokenInfoResponse">
<xs:complexType>
<xs:complexContent>
<xs:extension base="tns:webServiceBean">
<xs:sequence>
<xs:element minOccurs="0" name="ResponseCode" type="xs:string"/>
<xs:element minOccurs="0" name="ReasonCode" type="xs:string"/>
<xs:element minOccurs="0" name="ReasonCodeDesc" type="xs:string"/>
<xs:element minOccurs="0" name="TokenInfoToken" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
<xs:complexType name="AdvancedAuthorizationInfo">
<xs:complexContent>
<xs:extension base="tns:webServiceBean">
<xs:sequence>
<xs:element ref="tns:AuthorizationInfo"/>
<xs:element name="AuthorizationInfoAdv" type="tns:AuthorizationInfoAdv"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="webServiceBean">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="AuthorizationInfo">
<xs:complexContent>
<xs:extension base="tns:webServiceBean">
<xs:sequence>
<xs:element name="Version" type="xs:string"/>
<xs:element name="AuthorType" type="xs:string"/>
<xs:element name="OrderId" type="xs:string"/>
<xs:element name="TxtCardNo" type="xs:string"/>
<xs:element name="CardExpiryMonth" type="xs:string"/>
<xs:element name="CardExpiryYear" type="xs:string"/>
<xs:element minOccurs="0" name="EffectiveDate" type="xs:string"/>
<xs:element minOccurs="0" name="CVV2" type="xs:string"/>
<xs:element minOccurs="0" name="TokenAction" type="xs:string"/>
<xs:element minOccurs="0" name="TokenValue" type="xs:string"/>
<xs:element minOccurs="0" name="PurchaseDesc" type="xs:string"/>
<xs:element name="PurchaseAmount" type="xs:string"/>
<xs:element minOccurs="0" name="FeesAmount" type="xs:string"/>
<xs:element name="PurchaseCurrency" type="xs:string"/>
<xs:element name="CaptureFlag" type="xs:string"/>
<xs:element minOccurs="0" name="ShippingFirstName" type="xs:string"/>
<xs:element minOccurs="0" name="ShippingMiddleName" type="xs:string"/>
<xs:element minOccurs="0" name="ShippingLastName" type="xs:string"/>
<xs:element minOccurs="0" name="ShippingAddress1" type="xs:string"/>
<xs:element minOccurs="0" name="ShippingAddress2" type="xs:string"/>
<xs:element minOccurs="0" name="ShippingCityCode" type="xs:string"/>
<xs:element minOccurs="0" name="ShippingState" type="xs:string"/>
<xs:element minOccurs="0" name="ShippingZipcode" type="xs:string"/>
<xs:element minOccurs="0" name="ShippingCountry" type="xs:string"/>
<xs:element minOccurs="0" name="ShippingEmail" type="xs:string"/>
<xs:element minOccurs="0" name="ShippingPhone" type="xs:string"/>
<xs:element minOccurs="0" name="ShippingFax" type="xs:string"/>
<xs:element minOccurs="0" name="ShippingMobilePhone" type="xs:string"/>
<xs:element minOccurs="0" name="ShippingMethod" type="xs:string"/>
<xs:element minOccurs="0" name="BillingFirstName" type="xs:string"/>
<xs:element minOccurs="0" name="BillingMiddleName" type="xs:string"/>
<xs:element minOccurs="0" name="BillingLastName" type="xs:string"/>
<xs:element minOccurs="0" name="BillingAddress1" type="xs:string"/>
<xs:element minOccurs="0" name="BillingAddress2" type="xs:string"/>
<xs:element minOccurs="0" name="BillingCity" type="xs:string"/>
<xs:element minOccurs="0" name="BillingState" type="xs:string"/>
<xs:element minOccurs="0" name="BillingZipcode" type="xs:string"/>
<xs:element minOccurs="0" name="BillingCountry" type="xs:string"/>
<xs:element minOccurs="0" name="BillingEmail" type="xs:string"/>
<xs:element minOccurs="0" name="BillingPhone" type="xs:string"/>
<xs:element minOccurs="0" name="BillingFax" type="xs:string"/>
<xs:element minOccurs="0" name="BillingMobilePhone" type="xs:string"/>
<xs:element name="SignatureMethod" type="xs:string"/>
<xs:element name="Signature" type="xs:string"/>
<xs:element minOccurs="0" name="ScheduledPayment" type="xs:string"/>
<xs:element minOccurs="0" name="ScheduledTermCaptureFlag" type="xs:string"/>
<xs:element minOccurs="0" name="NbOfInstallment" type="xs:string"/>
<xs:element minOccurs="0" name="InstallmentFrequency" type="xs:string"/>
<xs:element minOccurs="0" name="InstallmentNextDate" type="xs:string"/>
<xs:element minOccurs="0" name="NbOfRecurring" type="xs:string"/>
<xs:element minOccurs="0" name="RecurringFrequency" type="xs:string"/>
<xs:element minOccurs="0" name="RecurringAmount" type="xs:string"/>
<xs:element minOccurs="0" name="RecurringFeesAmount" type="xs:string"/>
<xs:element minOccurs="0" name="RecurringStartDate" type="xs:string"/>
<xs:element minOccurs="0" name="ExecutionDate" type="xs:string"/>
<xs:element minOccurs="0" name="ProcessorAcquirerId" type="xs:string"/>
<xs:element minOccurs="0" name="OriginOutletUrl" type="xs:string"/>
<xs:element minOccurs="0" name="TestFlag" type="xs:string"/>
<xs:element minOccurs="0" name="CardHolderName" type="xs:string"/>
<xs:element minOccurs="0" name="AcronymDescriptor" type="xs:string"/>
<xs:element minOccurs="0" name="OrderDetailPresent" type="xs:string"/>
<xs:element minOccurs="0" name="CustomerId" type="xs:string"/>
<xs:element minOccurs="0" name="ItemsPresent" type="xs:string"/>
<xs:element minOccurs="0" name="NbOfItems" type="xs:string"/>
<xs:element minOccurs="0" name="OrderItems" type="tns:ArrayOfOrderItem"/>
<xs:element minOccurs="0" name="ShippingCost" type="xs:string"/>
<xs:element name="VatIncluded" type="xs:string"/>
<xs:element minOccurs="0" name="VatCost" type="xs:string"/>
<xs:element minOccurs="0" name="DeliveryDate" type="xs:string"/>
<xs:element minOccurs="0" name="AdditionalDetailsPresents" type="xs:string"/>
<xs:element minOccurs="0" name="NbOfFields" type="xs:string"/>
<xs:element minOccurs="0" name="AdditionalFields" type="tns:ArrayOfOrderAdditionalField"/>
<xs:element minOccurs="0" name="UpdateIndicator" type="xs:string"/>
<xs:element minOccurs="0" name="PassengerName" type="xs:string"/>
<xs:element minOccurs="0" name="CustomerCode" type="xs:string"/>
<xs:element minOccurs="0" name="IssueDate" type="xs:string"/>
<xs:element minOccurs="0" name="TravelAgencyCode" type="xs:string"/>
<xs:element minOccurs="0" name="TravelAgencyName" type="xs:string"/>
<xs:element minOccurs="0" name="TicketNumber" type="xs:string"/>
<xs:element minOccurs="0" name="IssuingCarrier" type="xs:string"/>
<xs:element minOccurs="0" name="TotalFare" type="xs:string"/>
<xs:element minOccurs="0" name="TotalTax" type="xs:string"/>
<xs:element minOccurs="0" name="NationalTax" type="xs:string"/>
<xs:element minOccurs="0" name="ThreeDSecure" type="tns:ArrayOfThreeDSecureItem"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="ArrayOfOrderItem">
<xs:complexContent>
<xs:extension base="tns:webServiceBean">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="OrderItem" nillable="true" type="tns:OrderItem"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="OrderItem">
<xs:complexContent>
<xs:extension base="tns:webServiceBean">
<xs:sequence>
<xs:element name="Description" type="xs:string"/>
<xs:element name="ProductCode" type="xs:string"/>
<xs:element name="CommodityCode" type="xs:string"/>
<xs:element name="Quantity" type="xs:string"/>
<xs:element name="UnitPrice" type="xs:string"/>
<xs:element name="TotalPrice" type="xs:string"/>
<xs:element minOccurs="0" name="UnitOfMesure" type="xs:string"/>
<xs:element name="TaxAmount" type="xs:string"/>
<xs:element minOccurs="0" name="DiscountAmount" type="xs:string"/>
<xs:element name="VatIncluded" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="ArrayOfOrderAdditionalField">
<xs:complexContent>
<xs:extension base="tns:webServiceBean">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="OrderAdditionalField" nillable="true" type="tns:OrderAdditionalField"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="OrderAdditionalField">
<xs:complexContent>
<xs:extension base="tns:webServiceBean">
<xs:sequence>
<xs:element name="Description" type="xs:string"/>
<xs:element name="Value" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="ArrayOfThreeDSecureItem">
<xs:complexContent>
<xs:extension base="tns:webServiceBean">
<xs:sequence>
<xs:element name="EcommerceIndicator" type="xs:string"/>
<xs:element name="AuthenticationVerificationValue" type="xs:string"/>
<xs:element minOccurs="0" name="TransactionXid" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="Version3DSecure" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="DirectoryServerTransactionId" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="AuthorizationInfoAdv">
<xs:complexContent>
<xs:extension base="tns:webServiceBean">
<xs:sequence>
<xs:element name="TransactionContext" type="xs:string"/>
<xs:element name="ScheduledIndicator" type="xs:string"/>
<xs:element name="StoredCredentialIndicator" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="AuthHeader">
<xs:complexContent>
<xs:extension base="tns:webServiceBean">
<xs:sequence>
<xs:element name="WsLogin" type="xs:string"/>
<xs:element name="WsPassword" type="xs:string"/>
<xs:element name="AcceptorPointID" type="xs:string"/>
<xs:element name="BankCode" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="PaymentType">
<xs:complexContent>
<xs:extension base="tns:webServiceBean">
<xs:sequence>
<xs:element minOccurs="0" name="PaymentCard" type="tns:PaymentCard"/>
<xs:element minOccurs="0" name="PaymentACH" type="tns:PaymentACH"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="PaymentCard">
<xs:complexContent>
<xs:extension base="tns:webServiceBean">
<xs:sequence>
<xs:element name="TxtCardNo" type="xs:string"/>
<xs:element name="CardExpiryMonth" type="xs:string"/>
<xs:element name="CardExpiryYear" type="xs:string"/>
<xs:element name="CVV2" type="xs:string"/>
<xs:element minOccurs="0" name="CheckCard" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="PaymentACH">
<xs:complexContent>
<xs:extension base="tns:webServiceBean">
<xs:sequence>
<xs:element name="AccountNumber" type="xs:string"/>
<xs:element name="RoutingNumber" type="xs:string"/>
<xs:element name="AccountType" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="CardHolderInfo">
<xs:complexContent>
<xs:extension base="tns:webServiceBean">
<xs:sequence>
<xs:element minOccurs="0" name="FirstName" type="xs:string"/>
<xs:element minOccurs="0" name="LastName" type="xs:string"/>
<xs:element minOccurs="0" name="BirthDate" type="xs:string"/>
<xs:element minOccurs="0" name="Email" type="xs:string"/>
<xs:element minOccurs="0" name="Address1" type="xs:string"/>
<xs:element minOccurs="0" name="Address2" type="xs:string"/>
<xs:element minOccurs="0" name="City" type="xs:string"/>
<xs:element minOccurs="0" name="State" type="xs:string"/>
<xs:element minOccurs="0" name="Zipcode" type="xs:string"/>
<xs:element minOccurs="0" name="Country" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="AccountInfo">
<xs:complexContent>
<xs:extension base="tns:webServiceBean">
<xs:sequence>
<xs:element minOccurs="0" name="PaymentCard" type="tns:PaymentCard"/>
<xs:element name="CardHolderInfo" type="tns:CardHolderInfo"/>
<xs:element minOccurs="0" name="PaymentACH" type="tns:PaymentACH"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="ProcessAuthorizationResponse">
<wsdl:part element="tns:AuthorizationInfoResponse" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="ProcessRegisterTokenResponse">
<wsdl:part element="tns:TokenInfoResponse" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="ProcessRegisterToken">
<wsdl:part element="tns:TokenInfo" name="parameters"> </wsdl:part>
<wsdl:part element="tns:AuthHeader" name="AuthHeader"> </wsdl:part>
</wsdl:message>
<wsdl:message name="ProcessAdvancedAuthorization">
<wsdl:part element="tns:AdvancedAuthorizationInfo" name="parameters"> </wsdl:part>
<wsdl:part element="tns:AuthHeader" name="AuthHeader"> </wsdl:part>
</wsdl:message>
<wsdl:message name="ProcessAuthorization">
<wsdl:part element="tns:AuthorizationInfo" name="parameters"> </wsdl:part>
<wsdl:part element="tns:AuthHeader" name="AuthHeader"> </wsdl:part>
</wsdl:message>
<wsdl:message name="ProcessAdvancedAuthorizationResponse">
<wsdl:part element="tns:AuthorizationInfoResponse" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="OnlineServiceSoap">
<wsdl:operation name="ProcessAdvancedAuthorization">
<wsdl:input message="tns:ProcessAdvancedAuthorization" name="ProcessAdvancedAuthorization"> </wsdl:input>
<wsdl:output message="tns:ProcessAdvancedAuthorizationResponse" name="ProcessAdvancedAuthorizationResponse"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="ProcessAuthorization">
<wsdl:input message="tns:ProcessAuthorization" name="ProcessAuthorization"> </wsdl:input>
<wsdl:output message="tns:ProcessAuthorizationResponse" name="ProcessAuthorizationResponse"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="ProcessRegisterToken">
<wsdl:input message="tns:ProcessRegisterToken" name="ProcessRegisterToken"> </wsdl:input>
<wsdl:output message="tns:ProcessRegisterTokenResponse" name="ProcessRegisterTokenResponse"> </wsdl:output>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="OnlineServiceServiceSoapBinding" type="tns:OnlineServiceSoap">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="ProcessAdvancedAuthorization">
<soap:operation soapAction="http://www.hps.ma/PowerCARD/PaymentGateway/OnlineServices/ProcessAdvancedAuthorization" style="document"/>
<wsdl:input name="ProcessAdvancedAuthorization">
<soap:header message="tns:ProcessAdvancedAuthorization" part="AuthHeader" use="literal"> </soap:header>
<soap:body parts="parameters" use="literal"/>
</wsdl:input>
<wsdl:output name="ProcessAdvancedAuthorizationResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="ProcessAuthorization">
<soap:operation soapAction="http://www.hps.ma/PowerCARD/PaymentGateway/OnlineServices/ProcessAuthorization" style="document"/>
<wsdl:input name="ProcessAuthorization">
<soap:header message="tns:ProcessAuthorization" part="AuthHeader" use="literal"> </soap:header>
<soap:body parts="parameters" use="literal"/>
</wsdl:input>
<wsdl:output name="ProcessAuthorizationResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="ProcessRegisterToken">
<soap:operation soapAction="http://www.hps.ma/PowerCARD/PaymentGateway/OnlineServices/ProcessRegisterToken" style="document"/>
<wsdl:input name="ProcessRegisterToken">
<soap:header message="tns:ProcessRegisterToken" part="AuthHeader" use="literal"> </soap:header>
<soap:body parts="parameters" use="literal"/>
</wsdl:input>
<wsdl:output name="ProcessRegisterTokenResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="OnlineServiceService">
<wsdl:port binding="tns:OnlineServiceServiceSoapBinding" name="OnlineServiceSoapPort">
<soap:address location="https://gim.barakamoney.net/PgWebService/services/OnlineService"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>
